# Donn't track content of these folders

suricata-3.0/src/.deps/*
suricata-3.0/libhtp/htp/.libs/*
suricata-3.0/libhtp/htp/.deps/*

# Compiled source #
###################
*.Plo
*.Po
*.log
*.o
suricata-3.0/configure
suricata-3.0/src/suricata
suricata-3.0/libhtp/htp/*.lo
change.sh
dpdk-stable-18.11.5/*
emerging.rules.tar.gz
